clean-text==0.6.0
librosa==0.10.0
scikit-learn==1.3.2
scipy==1.11.4
soundfile==0.12.1
speechtokenizer==0.1.2
tensorboard==2.15.1
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tqdm==4.66.1
datasets
tokenizers
transformers==4.34.1
xformers>=0.0.20
omegaconf
hydra-core
pyrootutils
flask
gradio
timm
diffusers==0.20.2
accelerate
einops
sentencepiece
gradio==3.50.0
speechtokenizer
beartype
lion-pytorch
nemo_text_processing